@import url('https://fonts.cdnfonts.com/css/poppins'); 

    .logo img {
        height: 60px; 
        margin-left: 40px;
        margin-top: 10px;
    }

    html {
        scroll-behavior: smooth;
      }

    #menu{
        font-family: 'Poppins', sans-serif;      
        font-size: 28px;
        font-style: normal;
        font-size: 16px;
        font-weight: 100px;
        line-height: normal;
        position: absolute;
        margin-left: 30px;
        top: 20px;
        right: 0;
    }

    body {
        background-color: #E4E4E4;
        width: 100%;
    }

    #menu li{
        margin: 0px 30px 20px;
        display: inline-block;
    }

    #menu li a {
        text-decoration: none;
        color: #4C0677;
    }

    #menu li:hover{
        opacity: 0.2;
    }

    .welcome{
        position: relative;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        width: 1300px;
        height: 500px;
        flex-shrink: 0;
        border-radius: 85px;
        background: #4C0677;
    }

    #first{
        color: #F4F4F4;
        font-family: Poppins;
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: 5;
        letter-spacing: -12.48px;
        width: 347px;
        height: 115.652px;
        flex-shrink: 0;
        margin-left: 90px;
    }

    #second:hover{
        background-image: linear-gradient(to right, #fff700, #0bd70b);
        -webkit-background-clip: text;
        background-clip: text;
        color: rgba(64, 211, 10, 0.60); /* Cambia el último valor (0.6) para ajustar la opacidad del texto */
    }

    #second{
        position: relative;
        color: #E4E4E4;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 2.2;
        letter-spacing: -3.2px;
        width: 340px;
        height: 40px;
        flex-shrink: 0;
        margin-left: 90px;
    }

    .subrayado-img{
    }

    #third{
        color: #E4E4E4;
        font-family: Poppins;
        font-size: 45px;
        font-style: normal;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -3.2px;
        width: 500px;
        margin-left: 90px;
    }

    .hello-img{
        position: absolute; /* Establece el posicionamiento absoluto */
        bottom: 1px; /* Coloca el elemento en la parte inferior */
        right: 0; /* Coloca el elemento en el extremo derecho */
        left: 470px;
        width: 452px;
        height: 418px;
        flex-shrink: 0;
        max-width: 100%;
    }

    .bars-container {
        display: flex;
        margin-top: 15px;
        margin-left: 25px;
        margin-right: 100px;
        justify-content: space-between;
    }
    
    #left-bar {
        background: #2F0549;
        position: relative;
        margin-top: 15px;
        margin-left: 0px;
        width: 643px;
        height: 200px;
        flex-shrink: 0;
        border-radius: 30px;
        justify-content: space-between;

    }
    
    #right-bar {
        position: relative;
        background: #4C0677;
        margin-top: 40px;
        margin-right: 15px;
        width: 643px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 30px;
        justify-content: space-between;

    }

    #left-bar3{
        display: none;
    }

    #first-left-text{
        color: #F4F4F4;
        font-family: 'Poppins', sans-serif;
        height: 200px;
        font-size: 35px;
        font-weight: 400;
        width: 500px;
        margin-left: 90px;
        height: 8px;
    }

    #second-left-text{
        color: white;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 300;
        text-decoration: underline;
        word-wrap: break-word;
        margin-left: 90px;
        height: 8px;
    }

    #third-left-text{
        color: white;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 200;
        word-wrap: break-word;
        margin-left: 90px;
        height: 4px;
    }

    .italian-img{
    }

    #title-text{
        margin-top:10px;
        margin-left: 40px;
        color: #F4F4F4;
        font-family: Poppins;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -8px;
        width: 347px;
        height: 25px;
        flex-shrink: 0;
    }

    #title-text:hover{
        opacity: 0.6;
    }

    #subtitle-text{
        margin-top: 30px;
        margin-left: 100px;
        color: #F4F4F4;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        width: 347px;
        height: 2px;
        flex-shrink: 0;
    }

    #description-text{
        margin-top: 10px;
        margin-left: 130px;
        color: #F4F4F4;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        width: 347px;
        height: 10px;
        flex-shrink: 0;
    }

    #left-bar2{
        background: #4C0677;
        position: relative;
        margin-top: 100px;
        margin-left: 0px;
        width: 643px;
        height: 200px;
        border-radius: 30px;
    }

    #footer {
        margin-top: 7rem;
        background-color: #dad8dc;
        color: #F4F4F4;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0; /* Agregado para asegurar que el pie de página se alinee a la izquierda */
    }
    
    #footer .container {
        max-width: 100%;
    }
    
    #footer .footerimg {
        margin-top: 10px;
    }
    
    #footer img {
        width: 15px;
        height: 15px;
        align-self: center;
    }
    
    #footer img:hover {
        opacity: 0.8;
    }

@media only screen and (max-width: 765px){
    #menu{
        display: block;
        position: relative;
        margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    }

    #menu li{
        margin: 0; /* Elimina los márgenes laterales para que los elementos estén más juntos */
        display: block; /* Hace que los elementos de menú aparezcan uno debajo del otro */
        text-align: center; /* Centra el texto en el menú */
    }

    #menu li a {
        text-decoration: none;
        color: #4C0677;
        display: block; /* Hace que los enlaces ocupen todo el ancho del menú */
    }

    #menu li:hover{
        opacity: 0.2;
    }

    .logo img {
        height: 6rem; 
        display: block;
        margin-top: 2rem; 
        margin: auto;
    }

    .welcome{
        width: 100%; /* Ancho del 100% para adaptarse al ancho de la pantalla */
        margin-left: 0;
        margin-right: 0;
        border-radius: 2rem; /* Mantener el borde redondeado */
        background: #4C0677; /* Color de fondo original */
        text-align: left; /* Alineación de texto izquierda */
    }

    #first {
        color: #F4F4F4;
        font-family: Poppins;
        font-size: 4rem; 
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.78rem; 
        margin-left: 2rem;
        display: flex;
    }

    #second {
        color: #E4E4E4;
        font-family: Poppins;
        font-size: 2.7rem; 
        font-weight: 400;
        letter-spacing: -0.17rem;
        flex-shrink: 0;
        margin-left: 2rem;
        display: flex;
    }

    #third {
        color: #E4E4E4;
        font-family: Poppins;
        font-size: 2.5rem; 
        font-style: normal;
        font-weight: 300;
        letter-spacing: -0.17rem; 
        margin-left: 2rem;
        display: flex;

    }

    .hello-img {
        display: none;
    }

    .bars-container {
        display: flex;
        margin-top: 1em 0;
        margin-right: 0; /* Ajusta el margen derecho al 5% del ancho del contenedor */
        margin-left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #left-bar {
        display: relative;
        width: 100%; /* Ancho del 100% para adaptarse al ancho de la pantalla */
        margin: 1em 0;
        border-radius: 2rem; /* Mantener el borde redondeado */
        background: #2F0549; /* Color de fondo original */
        text-align: left; /* Alineación de texto izquierda */
        height: 10em;
    }    
    
    #right-bar {
        background: #4C0677;
        position: relative;
        margin: 1em 0;
        margin-top: 14em;
        width: 100%;
        height: 20em;
        border-radius: 2rem;
        align-items: center;
    }

    #first-left-text{
        color: #F4F4F4;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        width: 100%;
        text-align: left;
        justify-content: center;
        overflow:visible;
        white-space: normal;
    }

    #second-left-text{
        color: white;
        font-size: 1rem;
        font-family: Poppins;
        font-weight: 300;
        text-decoration: underline;
        word-wrap: break-word;
    }

    #third-left-text{
        color: white;
        font-size: 1rem;
        font-family: Poppins;
        font-weight: 200;
        word-wrap: break-word;
    }

    #left-bar2{
        background: #4C0677;
        position: relative;
        margin-left: 0px;
        width: 100%;
        height: 10em;
        border-radius: 2rem;
        display: block;
        align-items: center;
    }

    #title-text {
        margin-top: 1rem; /* Ajusta el margen superior en rem */
        margin-left: 2rem; /* Ajusta el margen izquierdo en rem */
        font-size: 3rem; /* Ajusta el tamaño de fuente en rem */
        width: 21.688rem; /* Ancho en rem */
        height: 1.563rem; /* Alto en rem */
        letter-spacing: -0.5rem; /* Espaciado de letras en rem */
    }

    #title-text:hover{
        opacity: 0.6;
    }

    #subtitle-text {
        margin-top: 2rem; /* Ajusta el margen superior en rem */
        margin-left: 4rem; /* Ajusta el margen izquierdo en rem */
        font-size: 1.4rem; /* Ajusta el tamaño de fuente en rem */
        width: 21.688rem; /* Ancho en rem */
        height: 0.125rem; /* Alto en rem */
    }

    #description-text {
        margin-top: 1rem; /* Ajusta el margen superior en rem */
        margin-left: 4.333rem; 
        font-size: 1.2rem;
        width: 21.68rem; 
        height: 0.625rem; 
    }

    #footer {
        background-color: #dad8dc;
        text-align: center;
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 5rem;
    }
}



    
    
    